/* Fonts Imported here */
@font-face {
    font-family: SansBlack;
    src: url("../fonts/SourceSans3-Bold.ttf");
}

@font-face {
    font-family: SansBold;
    src: url("../fonts/SourceSans3-SemiBold.ttf");
}

@font-face {
    font-family: SansRegular;
    src: url("../fonts/SourceSans3-Medium.ttf");
}

@font-face {
    font-family: SansThin;
    src: url("../fonts/SourceSans3-Light.ttf");
}

@media (prefers-color-scheme: light) {

    html,
    body {
        color: #000000;
        background-color: #ffffff;
    }

    small {
        color: rgb(29, 29, 29);
    }
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        color: #ffffff;
        background-color: #000000;
    }

    small {
        color: #fff;
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

a:hover {
    color: #FF6666 !important;
}

.Avatar {
    height: 100px;
}

.List {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.List__item {
    margin: 10px 0;
    padding: 0;
}

.Emoji {
    margin-right: 10px;
    width: 20px;
    display: inline-block;
}



* {
    font-family: SansRegular;
}

h1 {
    font-family: SansBlack;
}

h2 {
    font-family: SansBold;
}

h3 {
    font-family: SansBlack;
}

small {
    font-family: SansThin;
}

.container {
    max-width: 960px;
}