/* Fonts Imported here */
@font-face {
    font-family: SansBlack;
    src: url("../fonts/SourceSans3-Bold.ttf");
}

@font-face {
    font-family: SansBold;
    src: url("../fonts/SourceSans3-SemiBold.ttf");
}

@font-face {
    font-family: SansRegular;
    src: url("../fonts/SourceSans3-Medium.ttf");
}

@font-face {
    font-family: SansThin;
    src: url("../fonts/SourceSans3-Light.ttf");
}

/* @font-face {
    font-family: OpenMoji;
    src: url("../fonts/OpenMoji-Color.ttf");
} */


@media (prefers-color-scheme: light) {

    html,
    body {
        color: #000000;
        background-color: #ffffff;
    }

    small {
        color: rgb(29, 29, 29);
    }

    .feed-list a {
        color: inherit !important;
    }
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        color: #ffffff;
        background-color: #000000;
    }

    small {
        color: #fff;
    }

    .feed-list a {
        color: #ffffff !important;
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

a:hover {
    color: #FF6666 !important;
}

.Avatar {
    height: 100px;
}

.List {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.List__item {
    margin: 10px 0;
    padding: 0;
}

.Emoji {
    margin-right: 10px;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-family: emoji;
}


.Username {
    text-decoration: none !important;
    cursor: alias !important;
}

/* https://rss.bloople.net/ css customization */
.feed-list {
    border: 1px dashed;
    border-radius: 6px;
    padding: 1.5rem;
    text-align: left;
    width: 100%;
}

.feed-title {}

.feed-desc {}

.feed-title-image {}

.feed-item-title {
    font-size: large;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 32px;
}

.feed-item-desc {}

* {
    font-family: SansRegular;
}

h1 {
    font-family: SansBlack;
}

h2 {
    font-family: SansBold;
}

h3 {
    font-family: SansBlack;
}

h4 {
    font-family: SansBold;
}

small {
    font-family: SansThin;
}

.container {
    max-width: 960px;
}