/* Fonts Imported here */
@font-face {
    font-family: SourceSans3;
    src: url("../fonts/SourceSans3-VariableFont_wght.ttf");
}

@font-face {
    font-family: SourceSans3Italic;
    src: url("../fonts/SourceSans3-Italic-VariableFont_wght.ttf");
}


* {
    font-family: SourceSans3;
}

@media (prefers-color-scheme: light) {

    html,
    body {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        color: #ffffff;
        background-color: #000000;
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

.Avatar {
    height: 100px;
}